.single-item{
	margin: 40px 0px;
}

.btn-custom-lighten.active {
  color: yellow;
}
.btn-custom-lighten {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2a2121;
  background-image: -moz-linear-gradient(top, #1f1818, #3c2e2e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f1818), to(#3c2e2e));
  background-image: -webkit-linear-gradient(top, #1f1818, #3c2e2e);
  background-image: -o-linear-gradient(top, #1f1818, #3c2e2e);
  background-image: linear-gradient(to bottom, #1f1818, #3c2e2e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f1818', endColorstr='#ff3c2e2e', GradientType=0);
  border-color: #3c2e2e #3c2e2e #110d0d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #3c2e2e;
}
.btn-custom-lighten:hover,
.btn-custom-lighten:focus,
.btn-custom-lighten:active,
.btn-custom-lighten.active,
.btn-custom-lighten.disabled,
.btn-custom-lighten[disabled] {
  color: #ffffff;
  background-color: #3c2e2e;
  *background-color: #2d2323;
}
.btn-custom-lighten:active,
.btn-custom-lighten.active {
  background-color: #1f1818 ;
}


.btn-custom-lighten.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom-lighten {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #630303;
  background-image: -moz-linear-gradient(top, #4f0202, #810303);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4f0202), to(#810303));
  background-image: -webkit-linear-gradient(top, #4f0202, #810303);
  background-image: -o-linear-gradient(top, #4f0202, #810303);
  background-image: linear-gradient(to bottom, #4f0202, #810303);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f0202', endColorstr='#ff810303', GradientType=0);
  border-color: #810303 #810303 #360101;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #810303;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom-lighten:hover,
.btn-custom-lighten:focus,
.btn-custom-lighten:active,
.btn-custom-lighten.active,
.btn-custom-lighten.disabled,
.btn-custom-lighten[disabled] {
  color: #ffffff;
  background-color: #810303;
  *background-color: #680303;
}
.btn-custom-lighten:active,
.btn-custom-lighten.active {
  background-color: #4f0202 ;
}