<div class="container"   ng-init="showData()"> 

      <div class="row">
         <div class="col-md-5">
            <h2>Game of Thrones characters</h2>
         </div>

         <div class="col-md-5">
            <fieldset style="padding:25px 0px 10px;">
              <div class="control-group text-left ">
                <div class="controls">
                  <div class="btn-group" data-toggle="buttons-radio" model='myModel' options='myOptions'></div>


                  <div class="btn-group" data-toggle="buttons-radio" >
                    <a type="button"  active-link="active" data-toggle="button" ng-repeat="char in families | unique:'char_family'" href="#/character/family/{{char.char_family}}" name="char_family" value="{{char.char_family}}" class="btn btn-custom">{{ char.char_family }}</a>
                  </div>

                </div>
              </div>
            </fieldset>
         </div>

           <div class="col-md-2" style="padding:25px 0px 10px;">
           <input ng-model="searchChar" placeHolder='Search characters' class="form-control"  >
         </div>
      </div>
      <hr class="featurette-divider">
      <div class="row">
        <div class="col-lg-3 text-center single-item"  ng-repeat="char in family_chars | orderBy:'acted' | filter:searchChar ">
          <a href="#/character/{{char.id}}" role="button"><img class="img-circle" src="img/{{char.char_image}}" alt="Generic placeholder image" style="width: 180px; height: 180px;"></a>
          <h2>{{ char.char_name }}</h2>
          <p>{{ char.char_description }}</p>
          <p><a class="btn btn-success" href="#/char/{{char.id}}" role="button">Character details &raquo;</a></p>

        </div>
      
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-default btn-lg" href="#/characters">Show full list of characters</a>
        </div>
         
      </div>
   